<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Enchei-vos</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <!-- Le styles -->
      <link href="Contents/css/bootstrap-responsive.css" rel="stylesheet" />
      <link href="Contents/css/bootstrap.css" rel="stylesheet" />
      <link href="Contents/css/estilos.css" rel="stylesheet" type="text/css" />
      
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    
<body>

<div class="boxLogin">
  <div class="topoBox">
    	<div class="logo"><img src="Contents/img/logo.jpg" width="208" height="64"></div>
        <div class="restrito">Acesso Restrito</div>
        <div class="cadeado"><img src="Contents/img/icone_cadeado.png" width="40" height="40"></div>
    </div>
    <div class="login">
            <form>
            <label class="fontLogin">Login</label>
            <input type="text" class="span5">
            <label class="fontLogin">Senha</label>
            <input type="password" class="span5">
            <a class="btn btn-primary btn-large" href="principal.html"> Entrar <i class=" icon-chevron-right icon-white"></i></a>
            </form>
        </div>
</div>
    
<script src="Contents/js/jquery.js"></script>
<script src="Contents/js/bootstrap-transition.js"></script>
<script src="Contents/js/bootstrap-alert.js"></script>
<script src="Contents/js/bootstrap-modal.js"></script>
<script src="Contents/js/bootstrap-dropdown.js"></script>
<script src="Contents/js/bootstrap-scrollspy.js"></script>
<script src="Contents/js/bootstrap-tab.js"></script>
<script src="Contents/js/bootstrap-tooltip.js"></script>
<script src="Contents/js/bootstrap-popover.js"></script>
<script src="Contents/js/bootstrap-button.js"></script>
<script src="Contents/js/bootstrap-collapse.js"></script>
<script src="Contents/js/bootstrap-carousel.js"></script>
<script src="Contents/js/bootstrap-typeahead.js"></script>
    
</body>
</html>